body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

td {
  text-align: center;
}

th {

  text-align: center;
  border-bottom: 1px solid #ddd;
}

button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;

}

img {
  width: 60px;
  height: 60px;

}

#resultados-list {
  list-style: none;
  padding: 0;
}

.agregar {
  text-align: center;
}

#resultados-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

#resultados-list {
  list-style: none;
  padding: 0;
}

#resultados-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
  text-align: center;
}

#resultados-list li span {
  font-size: 30px;
  font-weight: bold;
}

#resultados-list li:last-child {
  margin-bottom: 0;
}

#resultados-list li:before {
  color: #999;
  display: inline-block;
  width: 1em;
  margin-left: -1em;

}

#resultados-list li:first-child:before {
  display: none;
}

h2 {
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
}

@keyframes temblor {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-4px) rotateZ(-20deg);
  }

  20% {
    transform: translateX(2px) rotateZ(20deg);
  }

  30% {
    transform: translateX(-4px) rotateZ(-5deg);
  }

  40% {
    transform: translateX(2px) rotateZ(30deg);
  }

  50% {
    transform: translateX(-4px) rotateZ(-30deg);
  }

  60% {
    transform: translateX(10px) rotateZ(10deg);
  }

  70% {
    transform: translateX(-4px) rotateZ(-30deg);
  }

  80% {
    transform: translateX(2px) rotateZ(5deg);
  }

  90% {
    transform: translateX(-20px) rotateZ(-10deg);
  }

  100% {
    transform: translateX(0);
  }
}

.efecto-flecha {
  animation: temblor 0.5s linear infinite;
}